.siderbar__chat {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
}
.siderbar__chat:hover {
  cursor: pointer;
  background-color: #eaeaea;
}
.sidebar__chatInfo {
  margin-left: 15px;
}
.sidebar__chatInfo h2 {
  font-size: 16px;
}
.sidebar__chatInfo p {
  font-size: 12px;
}
.siderbar__chat > h2 {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}
